/*   ---  Table of Contents ---
       1. Global Styles
       2. Typography
       3. Layout
          3.1 Reusables
          3.2 Other
       4.Areas
         4.1 Header
         4.2 Main
         4.3 Footer
       5. Media Queries

*/

/* --- 1. Global Styles --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header__outer-container,
.main__outer-container,
.footer__outer-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 5px solid red;

}

.header__inner-container,
.main__inner-container,
.footer__inner-container {
    flex-basis: 1400px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid green;
}

.pointer {

    cursor: pointer;

}


/* -- 4. Areas -- */

/* HEADER */
.header__outer-container {
    height: 80px;
}

.header__navigation {
    border: 2px solid #e008c3;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 2em 0 2em;
    text-transform: capitalize;
    background-color: hsla(12, 5%, 92%, 0.4);
}


.header-logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    padding-left: 5em;
    border: 1px solid yellow;

}

.header-navigation__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
    list-style-type: none;
    padding: 0 9em 0 1em;
}

.navigation__page {
    color: hsla(215, 60%, 3%, 0.8);
    text-decoration: none;
}

.navigation__page:hover {
    text-decoration: underline;
    color: hsla(202, 64%, 31%, 0.8);
}

/* --- 2. Typography --- */
/* --- 3. Layout --- */

/* // --- 3.1 Reusables --- // */
/* // --- 3.1 Other --- // */

/* --- 4. Areas --- */
/* // --- 4.1 Header --- // */
/* // --- 4.2 Main --- // */
/* // --- 4.3 Footer --- // */

/* --- 5. Media Queries --- */

.header__outer-container {

    width: 100%;
    border: 3px solid gold;

}

.header__navigation {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    text-transform: capitalize;
    border: 2px solid deepskyblue;
    padding: 0 2em 0 2em;


}

.header-logo {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    font-size: 25px;

    border: 2px solid #f600b0;
}


.header-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 4em;
    list-style-type: none;
    border: 2px solid orange;
    padding: 0 1em 0 1em;
    margin: 0 0 0 35px;

}

.navigation__page {

    text-decoration: none;

}

/* MAIN */
.main__outer-container {
    height: 900px;

}

.main__inner-container {

    width: 50%;
}


.main__recipe-result {
    float: right;
    width: 50%;
}

.main__recipe-result .main__result-left {

    margin-left: -25%;
    margin-top: 5%;
    height: 700px;
    width: 500px;
    border: 2px solid coral;
}

.main__recipe-result .main__result-right {

    margin: -202% 5% 100% 25%;
    height: 700px;
    width: 500px;
    border: 2px solid coral;
}

.main__recipe-name {

    font-family: Helvetica, sans-serif;
    font-size: 30px;
    padding: 3% 0 6% 2%;

}


/* FOOTER */

.footer__outer-container {

    height: 360px;

}

.main__recipe-text {

    border: 1px solid black;
    height: 250px;
    width: 300px;
    padding: 2% 3% 2% 6%;
}

.main__recipe-ingredients {
    font-size: 20px;
    padding: 3% 5% 4% 2%;
}

.ingredients-recipe li {
    font-size: 12px;
    padding-left: 3%;
}

.main__health-labels {
    display: flex;
    flex-direction: column;
    padding: 3% 0 4% 2%
}

.recipe-labels {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: deepskyblue;
    width: 100px;
    height: 20px;
    text-align: center;
    margin: 1% 3% 1% 3%;
    border-radius: 2em;
}

.footer__inner-container {

    background-color: hsla(211, 78%, 17%, 0.9);
    padding: 2em 0 2em 0;

}

.footer__navigation {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border: 3px solid orange;
    margin-top: 1em;
    gap: 7%;
}

.footer-navigation__list {
    text-decoration: none;
    list-style-type: none;

}

.footer-list__heading {
    font-size: 16px;
    font-weight: bold;
    color: hsla(191, 79%, 73%, 0.8);
    padding-bottom: 2em;
}

.footer-navigation__list li {
    color: hsla(185, 6%, 84%, 0.5);
    font-size: 13px;
    padding-bottom: 2em;
}

.footer-list__socials {
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: hsla(191, 79%, 73%, 0.8);
    border-radius: 50% 50% 50% 50%;
    padding: 3% 2% 1.5% 2.6%;
    margin-right: 1em;

}

.footer-list__socials img {
    border-radius: 50% 50% 50% 50%;
    height: 22px;
    width: 22px;

}